@inject NavigationManager Navigation

<nav class="navbar navbar-expand-lg navbar-consultoria">
    <div class="container">
        <a class="navbar-brand" href="/">
            Consultoria<span class="brand-accent">Dev</span>
        </a>
    </div>
</nav>


